{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript/base", "prettier"],
  "plugins": ["@typescript-eslint", "import", "promise", "prettier"],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "App": true,
    "Page": true,
    "Component": true,
    "getCurrentPages": true
  }
}
